<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnake.security"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".activity.IpcActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.dnake.security.activity.IpcActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SceneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ZoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <service android:name="com.dnake.v700.security">
            <intent-filter>
                <action android:name="com.dnake.v700.security" />
            </intent-filter>
        </service>

        <receiver android:name=".SysReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dnake.broadcast" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dnake.doorAlarm" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dnake.defence" />
            </intent-filter>
		</receiver>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DefenceLabel"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ZoneLabel"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SceneLabel"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SetupLabel"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AlarmLabel"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".IpcLabel"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
    </application>

</manifest>